#titleBox{
    background-color: blue !important;
    color:white;
    font-size: 50px;
}
th
{
    background-color: blue;
    color:white;
}
tr{
    background-color: lightblue;
}
/* tr:hover{
    background-color: blue;
    color: white;
} */
.card{
    border-color: blue;
}