<div class="d-flex justify-content-center mt-2">
    {{loginTitle}}
</div>
<!-- Two way Binding -->
<!-- <input type="text" [(ngModel)]="twoWayBindtest">
<p>{{twoWayBindtest}}</p> -->
<!-- <p *appRepeat="5">hello world</p> -->
<!-- <div>
    structural directive
    <ng-template appRepeat #pr="repeat1" #cr="repeat2">
        <p [ngStyle]="{color:colorName}">Being repeated</p>
    </ng-template>
    <button (click)="pr.printRepeat(5)">Print Repeat</button>
    <button (click)="cr.changeRepeat(5)">Change Repeat</button>
</div> -->