<div class="container">
    <div class="row mt-2">
        <div class="col">
            <table class="table table-success">
                <thead>
                    <tr>
                        <th>Book ID</th>
                        <th>Book Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books">
                        <td>{{book.id}}</td>
                        <td>{{book.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>