<!--Login Form-->
<!-- <app-login></app-login> -->

<!--Ride Registration form-->
<app-ride-registration></app-ride-registration>

<!--Registration form using reactive forms/model based forms-->
<!-- <app-registrationform></app-registrationform> -->

<!--parent to child component-->
<!---->
<!-- <div class="container">
  <div>
    <h1>Select Course</h1>
    <select #course (change)="course.value">
        <option value="python">Python</option>
        <option value="c">C</option>
        <option value="R">R</option>
        <option value="Java">Java</option>
    </select>
  </div>
  <app-courselist [cName]="course.value"></app-courselist>
</div>
-->

<!--child to parent component-->
<!-- 
<div class="container">
  <div>
    <app-courselist (OnRegister)="assignedCourse($event)"></app-courselist>
    <p *ngIf="message">You have choosen {{message}}</p>
  </div>
</div> -->

<!--view child child members accessed by parent component-->
<!-- <div class="container">
  <div class="row">
    <h1 class="display-3">Accessing child component properties</h1>
    <input type="text" #ssn>
    <button class="btn btn-primary m-2" (click)="modify()">Access Form Data</button>
    <button class="btn btn-success m-2" (click)="startTimer()">Start</button>
    <button class="btn btn-secondary m-2" (click)="endTimer()">End</button>
    <app-timer></app-timer>
  </div>
</div> -->