<div *ngIf="submitted" class="container">
  <div class="container">
    <div class="row justify-content-center mt-2">
      <div class="card col-md-12 w-50">
        <app-login></app-login>
        <form>
          <div class="form">
            <div class="row p-2">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
              <label for="password" class="form-label" >Password</label>
              <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password">
            </div>
            <div class="row p-2">
              <div class="col-lg justify-content-center d-flex">
                <button class="btn btn-primary w-100" (click)="onSubmit()">Login</button>
              </div>
              <div class="col-lg">
                <a class="btn btn-secondary w-100" >Cancel</a>
              </div>
              <div class="col-lg">
              </div>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--parent to child component-->
  <!-- <div *ngIf="submitted" class="container">
    <div class="row mt-2">
      <div class="col-lg">
        <div *ngIf="isAuthenticated; else failureMsg">
          <h4 class="display-3">Welcome {{ username | titlecase }}</h4>
        </div>
      </div>
    </div>
  <ng-template #failureMsg>
    <h4 class="display-3">Invalid Login !!! Please try again...</h4>
  </ng-template>
  <div class="row mt-2 justify-content-left">
    <div class="col-3">
      <button type="button" class="btn btn-secondary w-75" (click)="submitted = false">Back</button>
    </div>
  </div>
</div> -->
<div class="container">
  <div>
    <h1>Select Course</h1>
    <select #course (change)="course.value">
        <option value="python">Python</option>
        <option value="c">C</option>
        <option value="R">R</option>
        <option value="Java">Java</option>
    </select>
  </div>
  <!-- <app-courselist [cName]="course.value"></app-courselist> -->
</div>
<div class="container">
  <div>
    <app-courselist (OnRegister)="assignedCourse($event)"></app-courselist>
    <p *ngIf="message">You have choosen {{message}}</p>
  </div>
</div>